<% layout('layouts/boilerplate') %>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="alert alert-danger text-center mt-5" role="alert">
        <h4 class="alert-heading"><%= err.message %></h4>
        <% if (process.env.NODE_ENV !== 'production') { %>
        <hr />
        <p><%= err.stack %></p>
        <% } %>
      </div>
    </div>
  </div>
</div>
